.removePluginPack {
    cursor: pointer;
}

.ui-tooltip-white {
    background-color: #ffffff !important;
    border-color: #d1d2d4 !important;
    color: #555 !important;
}

.separate {
    position: absolute;
    bottom: 20px;
    width: 180px;
}

/* Block the pluginpack listing */
.pluginpack-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pluginpack-block h2 {
  margin: 10px 5px;
  width: 100%;
  color: #597f00;
  position: relative;
}

.pluginpack-block a {
  position: absolute;
  right: 6px;
  top: 37px;
    padding: 8px 7px;
}

.pluginpack-block .ppm-orange-button {
    background-color: #f17933;
    border-radius: 5px;
}

.pluginpack-block > h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 14px;
}

.pluginpack-block .ajaxOption {
  margin-bottom: 0;
}

#progress-container {
  width: 100%;
  height: 1px;
}

#pluginpack-detail {
    width: 450px;
}

#pluginpack-container-list {
  overflow-y: hidden;
  flex: 1;
}

.pp-header-left {
    float: left;
    height: 90px;
    width: 90px;
    border: 1px solid #e7e7e8;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.pp-header-right {
    padding-top: 4px;
    float: left;
    position: relative;
    width: 66%;
}
.pp-header-right h2 {
    word-wrap:break-word;
}

.pp-header-right .detail-action-bar img {
    width: 18px;
    height: 18px;
}

.pp-body {
    float: left;
    width: 100%;
}

#pp-description {
    margin: 0px;
    float: right;
    padding: 0px;
    min-height: 0px;
}

#pp-detail-versioning {
    padding: 5px;
    border-bottom: 1px solid #d1d2d4;
    margin-bottom: 6px;
}

#pp-version {
    font-weight: bold;
    float: left;
    margin: 2px 4px;
}

.pp-details-wrapper {
    padding: 11px 0px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(231, 231, 232);
    margin: 9px 0px 0px 0px;
    text-align: center;
}

/* List of pluginpack */
.pluginpack-list {
  margin: 10px 10px;
}

/* Plugin pack entry */
.pluginpack-entry {
    cursor: pointer;
    border: 2px solid #bcbdc0;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 4px;
    clear: both;
    display: inline-block;
    margin: 6px;
    font-size: 15px;
    overflow: hidden;
}
.pluginpack-entry:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #a7a9ac;
    transition: all 0.3s ease;
}

.pluginpack-entry.pp-deny:after {
  content: '';
  width: 130px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.pluginpack-entry.pp-can-be-installed{
    border-color: #bcbdc0;
}
.pluginpack-entry.pp-installed.pp-complete {
  border-color: #99bd44;
}
.pluginpack-entry.pp-installed {
    border-color: #ff9a13;
}
.pluginpack-entry.pp-installed.pp-toUpdate{
  border-color: #2ad1d4;
}
.pluginpack-entry.pp-upToDate{
  border-color: #88b917;
}

.pp-icon {
  width: 70%;
  height: 100%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pp-icon-2 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pp-center {
    width: 80%;
    height: 90px;
    margin: auto;
    padding: 0;
    position: relative;
}

.pp-center .top_right {
    position: absolute;
    top: 10px;
    right: 5px;
}

.status-badge {
    height: 10px;
    width: auto;
    border-radius: 5px;
    color:white;
    padding: 3px;
    font-size: 10px;
    line-height: 10px;
    text-transform: capitalize;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align : center;
}

.pluginpack-entry .pp-icon-installed{
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
}

.pluginpack-entry .pp-icon-installed > img {
  width: 18px;
  height: 18px;
}

/* Action bar */
.pluginpack-entry .icon-wrapper {
    padding: 0px 4px 4px 4px;
}

.pluginpack-entry .icon-wrapper:first-child {
    padding: 4px;
}

.pluginpack-entry .actionbar {
    z-index: 1;
    border-top-right-radius: 2px;
    background-color: rgba(211, 211, 211, 0.6);
    position: absolute;
    bottom: 28px;
    right: -30px;
    transition: right 0.2s;
}

.pluginpack-entry .actionbar .actionbar-icon {
    background: #ffffff;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    height: 12px;
    width: 14px;
    text-align: center;
}

.pluginpack-entry .actionbar img {
    vertical-align: middle;
}

/* Button for add a pluginpack */
.bt-pp {
    border-radius: 4px;
    border: solid #fff 0px;
    background-color: #fff;
}
.pluginpack-entry .pp-details-info {
    width: 20px;
    height: 20px;
    background-color: #009fdf;
    color: #fff;
    font-size: 13px;
    position: absolute;
    right: 2px;
    bottom: 32px;
    z-index: 30;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
}

.pluginpack-entry .bt-pp-doc {
    position: absolute;
    left: 2px;
    top: 69px;
    z-index: 0;
    width: 19px;
    padding: 0px;
    height: 19px;
    background: transparent;
}

.pluginpack-entry .pp-add:hover {
  background-color: #005a7f;
    transition: 0.2s all ease;
}

.pluginpack-entry .pp-add:focus {
  background-color: #a2d331;
  outline: none;
}

/* Bottom information on pluginpack */

.pluginpack-entry .pp-bottom {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  border-top: 2px solid #e7e7e8;
}

.pluginpack-entry .pp-bottom > div {
  display: inline-block;
  margin: 5px;
  overflow-x: hidden; 
  white-space: nowrap;
}

.pluginpack-entry .pp-bottom .name {
    color: #21766f;
    font-size: 13px;
    padding: 4px;
    text-align: center;
}

.icon-bloc {
    display: flex;
    float: left;
    margin-right: 4px;
    cursor: pointer;
}

/* PP Documentation page */

.pp-doc-title {
    float: right;
    margin: 24px 26px;
}

/* pluginpack popin */

.pluginpack-popin {
    display: block;
}

.depListing {
    height: 300px;
}