*.pb.cc
*.pb.h
*.so
*.swp
.idea
.vscode
.scannerwork

CMakeCache.txt
CMakeFiles
CTest*.cmake
Makefile
.conan
Testing
__
broker_pb2.py
broker_pb2.pyc
broker_pb2_grpc.py
broker_pb2_grpc.pyc
build
centreon-broker/core/inc/com/centreon/broker/database/table_max_size.hh
centreon-broker/core/inc/com/centreon/broker/vars.hh
centreon-broker/core/inc/com/centreon/broker/version.hh
centreon-broker/config/central-rrd.json
centreon-broker/config/central-broker.json
centreon-broker/config/central-module.json
centreon-broker/script/cbd.init
centreon-broker/script/watchdog.json
doc/_build
doc/devel-doc
engine_pb2.py
engine_pb2.pyc
engine_pb2_grpc.py
engine_pb2_grpc.pyc
libgtest*.a
libnebbase.a
libroker.a
librokerbase.a
tags
test-coverage
test/python/*.crt
test/python/*.key
ut
### 
apps/
build/*

### node ###
node_modules/

### vscode ###
.vscode/

### temp build files ###
logs/*

workspace.*

# ingore local env files
.env.local

src/config/centreon-engine/*.cfg

**/.*.swp
**/.idea/*
**/.vscode/*
**/CMakeFiles/*
**/__pycache__/*
**/build/*
**/engine_pb2*.py
*.swp
.idea/*
bbdo/*_accessor.hh
build/*
centreon-clib/inc/com/centreon/clib/version.hh
centreon-clib/script/*
centreon-connectors/perl/src/xs_init.cc
centreon-connectors/perl/test/connector/paths.hh
centreon-connectors/ssh/test/connector/binary.hh
centreon-engine/benchmark/centreon-engine/*
centreon-engine/benchmark/lib/*
centreon-engine/benchmark/log/*
centreon-engine/cmake-build-debug/*
centreon-engine/conf/centengine.cfg
centreon-engine/conf/timeperiods.cfg
centreon-engine/conf/commands.cfg
centreon-engine/conf/resource.cfg
centreon-engine/doc/_build
centreon-engine/enginerpc/engine.*pb.cc
centreon-engine/enginerpc/engine.*pb.h
centreon-engine/gtest.cbp
centreon-engine/inc/com/centreon/engine/version.hh
centreon-engine/inc/compatibility/common.h
centreon-engine/inc/compatibility/locations.h
centreon-engine/modules/bench/passive/paths.hh
centreon-engine/scripts/centengine.pc
centreon-engine/scripts/centengine.sh
centreon-engine/src/simumod/neb.cc
centreon-engine/tags
ci/repo/*
cmake-build-debug/*
log.html
output.xml
report.html
