# ingore local env files
.env.local

*.pb.cc
*.pb.h
*.so
*.swp

Testing
__
tests/failed
broker_pb2.py
broker_pb2.pyc
broker_pb2_grpc.py
broker_pb2_grpc.pyc
build
build_my_host
build_centos7
build_alma9
cbd
cbwd
cppcheck-build
cppcheck-report.txt
engine_pb2.py
engine_pb2.pyc
engine_pb2_grpc.py
engine_pb2_grpc.pyc
libgtest*.a
libnebbase.a
libroker.a
librokerbase.a
tags
test-coverage
ut

###
apps/
build*/*
tests/failed/*
.vs

### ide ###
**/.vscode/
**/.idea
.scannerwork
**/.cache

### temp build files ###
logs/*
workspace.*
**/*.swp
**/.*.swp
**/__pycache__/*
**/build/*
**/engine_pb2*.py

**/CMakeFiles/*
CMakeLists.txt.user
**/cmake-build-debug/*
CMakeCache.txt
cmake_install.cmake
CTest*.cmake
Makefile

log.html
output.xml
report.html

# agent
agent/scripts/centagent.service
agent/conf/centagent.json
opentelemetry-proto
agent/src/agent.rc
agent/inc/com/centreon/agent/version.hh

# bbdo
bbdo/*_accessor.hh

# broker
broker/core/sql/inc/com/centreon/broker/sql/table_max_size.hh
broker/core/inc/com/centreon/broker/vars.hh
broker/core/inc/com/centreon/broker/version.hh
broker/config/central-rrd.json
broker/config/central-broker.json
broker/config/central-module.json
broker/script/cbd.init
broker/script/watchdog.json
broker/script/misc/grpc/broker_pb2.py
broker/script/misc/grpc/broker_pb2_grpc.py
broker/libgtest*.a
broker/libnebbase.a
broker/libroker.a
broker/librokerbase.a
broker/test/python/*.crt
broker/test/python/*.key
broker/compile_commands.json
broker/grpc/grpc_stream.proto
broker/grpc/src/grpc_bridge.cc


# clib
clib/inc/com/centreon/clib/version.hh
clib/script/*

# connectors
connectors/perl/src/xs_init.cc
connectors/perl/test/connector/paths.hh
connectors/ssh/test/connector/binary.hh

# doc
**/doc/devel-doc
**/doc/_build

# engine
engine/benchmark/lib/*
engine/benchmark/log/*
engine/conf/centengine.cfg
engine/conf/timeperiods.cfg
engine/conf/commands.cfg
engine/conf/resource.cfg
engine/conf/objects/*.cfg
engine/doc/_build
engine/enginerpc/engine.*pb.cc
engine/enginerpc/engine.*pb.h
engine/gtest.cbp
engine/inc/com/centreon/engine/version.hh
engine/inc/compatibility/common.h
engine/inc/compatibility/locations.h
engine/modules/bench/passive/paths.hh
engine/scripts/centengine.pc
engine/scripts/centengine.sh
engine/src/simumod/neb.cc
engine/tags
engine/doc/devel-doc
engine/compile_commands.json

# gorgone
gorgone/log

# tests
tests/apps/
tests/src/config/centreon-engine/*.cfg
tests/src/config/centreon-engine/config*/*
test/python/*.crt
test/python/*.key
tests/logs/*
tests/bench.unqlite
tests/resources/*_pb2.py
tests/resources/*_pb2_grpc.py
tests/resources/grpc_stream.proto
tests/resources/opentelemetry

compile_commands.json
