### 
apps/
build/*

### node ###
node_modules/

### vscode ###
.vscode/

### temp build files ###
logs/*

workspace.*

# ignore local env files
.env.local

src/config/centreon-engine/*.cfg
src/config/centreon-engine/config*/*
tags
.ctags

*.pem

### database personnal credentials ###
resources/db_variables.robot
