<% if (typeof customer !== 'undefined') { %>

<div class="welcome-msg">
    <p><%= welcome %> <b><%= customer.attributes.firstname %> <%= customer.attributes.lastname %></b></p>
</div>

<% } %>

<% if (typeof downloads !== 'undefined') { %>
<div class="centreon-message middle-bloc">
    <p class="steps">2</p>
    <p class="info-title">
        <%= introMessage %>
    </p>

    <ul class="centreon-list download-list">
        <li>
            <button class="btc bt_success_2">
                <span><%= downloadMessage %> <img src="/centreon/img/icons/download.png" alt="download-icon"> </span>
            </button>
        </li>
        <% for (var i = 0; i < downloads.length; i++) { %>
            <% var download = downloads[i]; %>
            <% var numberClass = i%2 ? 'list_two' : 'list_one' ; %>
            <li>
                <span><%= downloads.name %></span>
                <button class="download-button">
                    <img src="/centreon/img/icons/download.png" alt="download-icon">
                </button>
                <div class="downloaded-icon">
                    <img src="/centreon/img/icons/enabled.png" alt="enabled-icon">
                </div>
            </li>
        <% } %>
    </ul>

    <div class="error-msg hidden">
        <span class="msg"></span>
    </div>
</div>

<% } else if (typeof errorMessage !== 'undefined') { %>

<div class="error-msg">
    <span class="msg"><%= errorMessage %></span>
</div>

<% } %>
