Source: @PROJECT_NAME@
Section: net
Priority: optional
Maintainer: Kevin Duret <kduret@centreon.com>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.8
Homepage: https://github.com/centreon/centreon-plugins

Package: @PROJECT_NAME@
Architecture: any
Depends: @REQUIRES@
Description: Centreon plugin
