<script type="text/javascript" src="./include/common/javascript/tool.js"></script>
<link href="./include/common/javascript/charts/c3.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./modules/centreon-bam-server/core/common/css/bam.css" />
<form name='form'>
	<table class="ToolbarTable table">
		<tr class="ToolbarTR">
			<td>
				{if !isset($poller_display)}
				<select id="actions1" name="actions1" class="margin_right" onChange="javascript:executeAction(this);">
					<option value="">More actions...</option>
					<option value="immediate_check">Schedule immediate check</option>
					<option value="force_immediate_check">Schedule immediate check (Forced)</option>
					<option value="acknowledge">Acknowledge</option>
					<option value="remove_acknowledge">Disacknowledge</option>
					<option value="enable_notif">Enable notification</option>
					<option value="disable_notif">Disable notification</option>
					<option value="schedule_downtime">Schedule downtime</option>
					<option value="remove_downtime">Remove downtime</option>
				</select>
				{/if}
                                
                                {$form.bv_filter.html} {*$form.ba_filter.html*}
                                
				<div class="Toolbar_TDSelectAction_Top">
					<span class="consol_button">
						<img src="./img/icons/refresh.png" style='cursor:pointer;' onClick='build_chart();'/>
					</span>
				</div>
			</td>
			<td id="pagination1" class="ToolbarPagination"></td>
			<td id="sel1" class="Toolbar_pagelimit"></td>
		</tr>
	</table>
	<div id="centreon_bam_table">
		<center><img src={$loading_img}>{$loading_label}</center>
	</div>
	<table class="ToolbarTable table">
		<tr class="ToolbarTR">
			<td style="width:40%;">
			{if !isset($poller_display)}
			<select id="actions2" name="actions2" onChange="javascript:executeAction(this);">
				<option value="">More actions...</option>
				<option value="immediate_check">Schedule immediate check</option>
				<option value="force_immediate_check">Schedule immediate check (Forced)</option>
				<option value="acknowledge">Acknowledge</option>
				<option value="remove_acknowledge">Disacknowledge</option>
				<option value="enable_notif">Enable notification</option>
				<option value="disable_notif">Disable notification</option>
				<option value="schedule_downtime">Schedule downtime</option>
				<option value="remove_downtime">Remove downtime</option>
			</select>
			{/if}
			<input name="p" value="{$p}" type="hidden">
			</td>
			<td id="pagination2" class="ToolbarPagination"></td>
			<td id="sel2" class="Toolbar_pagelimit"></td>
		</tr>
	</table>
</form>
<form style='display:none;' id='downtimeform'>
    <div id='downtimebox'>
        <table class="ListTable table">
            <tr class="list_two">
                <td class="FormRowField" style='padding-left:15px;'>
                    {$startLabel}
                </td>
		        <td class="FormRowValue" style='padding-left:15px;'>
                    <input class='my_start' type='text' id='start' name='start' value='{$defaultStart}' />
                </td>
            </tr>
            <tr class="list_one">
                <td class="FormRowField" style='padding-left:15px;'>
                    {$endLabel}
                </td>
                <td class="FormRowValue" style='padding-left:15px;'>
                    <input class='my_end' type='text' id='end' name='end' value='{$defaultEnd}' />
                </td>
            </tr>
            <tr class="list_two">
                <td class="FormRowField" style='padding-left:15px;'>
                    {$durationLabel}
                </td>
                <td class="FormRowValue" style='padding-left:15px;'>
                    <input type='text' id='duration' name='duration' value='{$defaultDuration}' /> {$secondsLabel}
                </td>
            </tr>
            <tr class="list_one">
                <td class="FormRowField" style='padding-left:15px;'>
                    {$fixedLabel}
                </td>
                <td class="FormRowValue" style='padding-left:15px;'>
                    <input type="checkbox" id='fixed' name='fixed' onClick="toggleFields(this);" {$fixedDefault}/>
                </td>
            </tr>
            <tr class="list_two">
                <td class="FormRowField" style='padding-left:15px;'>
                    {$authorLabel}
                </td>
                <td class="FormRowValue" style='padding-left:15px;'>
                    <input type='text' value='{$authoralias}' id='author' readonly="readonly" />
                </td>
            </tr>
            <tr class="list_one">
                <td class="FormRowField" style='padding-left:15px;padding-right:15px;'>
                    {$commentLabel}
                </td>
                <td class="FormRowValue" style='padding-left:15px;padding-right:15px;'>
                    <textarea cols='50' rows='7' class='my_comments' id='comments' name='comments'>{$defaultComment}</textarea>
                </td>
            </tr>
        </table>
        <div id="validForm"><input type='button' value='{$scheduleLabel}' onClick='scheduleDowntime();'/></div>
    </div>
</form>
<div id="div_img" class="img_volante"></div>

<script src="./include/common/javascript/moment-with-locales.js"></script>
<script src="./include/common/javascript/moment-timezone-with-data.min.js"></script>
<script src="./include/common/javascript/charts/d3.min.js"></script>
<script src="./include/common/javascript/charts/c3.min.js"></script>
<script src="./include/common/javascript/charts/d3-timeline.js"></script>
<script src="./include/views/graphs/javascript/centreon-graph.js"></script>
<script src="./include/views/graphs/javascript/centreon-c3.js"></script>
<script>
    {literal}
    jQuery('#bv_filter').on('change', function(e) {
        bvFilter = e.target.value;
        selectView(bvFilter);
    });

    jQuery('#ba_filter').on('change', function(e) {
        bvFilter = jQuery('#bv_filter').value;
        baFilter = e.target.value;
        selectView(bvFilter, baFilter);
    });
    {/literal}
</script>
