<% if (typeof customer !== 'undefined') { %>
<div class="welcome-msg">
    <p><%= welcome %> <b><%= customer.attributes.firstname %> <%= customer.attributes.lastname %></b></p>
</div>
<% } %>

<% if (typeof subscriptions !== 'undefined' && subscriptions.length > 0) { %>

<div class="centreon-message middle-bloc">
    <p class="steps">1</p>
    <p class="info-title">
        <%= introMessage %>
    </p>
    <p class="warning-msg">
       <%= warningMessage %><b><%= irreversible %></b>
    </p>

    <form id="subscription-choice-form" class="centreon-form-list" action="./index.php" method="patch" name="subscribe">
        <% for (var i = 0; i < subscriptions.length; i++) { %>
            <% var subscription = subscriptions[i]; %>
            <% var numberClass = i%2 ? 'list_two' : 'list_one' ; %>
            <p class="subscription-item">
                <input type="radio" name="subscription" value="<%= subscription.id %>">
                <label><%= subscription.name %><br /><span><%= subscription.period %></span> </label>
                <input class="btc bt_success" name="submitSubscribe" id="bt_submit_<%= subscription.id %>" value="<%= link %>" type="button">
            </p>
        <% } %>
        <div class="error-msg hidden">
            <span class="msg"><%= errorMessage %></span>
        </div>

    </form>

</div>

<% } else if (typeof subscriptions !== 'undefined' && subscriptions.length == 0) { %>

    <div class="centreon-message">
        <p class="info-title">
            <%= get5Plugins %>
        </p>
        <p>
            <span class="info-circle white-circle">11</span>
            <%= nbPlugins %>
            <span class="note-wrapper">
                <a href="./main.php?p=50704" class="btc bt_success"><%= ppInstall %></a>
                <span class="note"><%= usingPPMText %></span>
            </span>
        </p>
    </div>
    <div class="centreon-message">
        <p class="info-title">
            <%= discoverIMP %>
        </p>
        <p>
            <span class="info-circle green-circle">+150</span>
            <%= CentreonPP %>
            <span class="note-wrapper">
                <a href="<%= subscriptionLink %>" target="_blank" name="websiteRedirection" class="btc bt_success_2"><span><%= subscribe %></span></a>
                <span class="note"><%= subscribeText %></span>
            </span>
        </p>
    </div>

<% } else { %>

<div class="error-msg">
    <span class="msg"><%= errorMessage %></span>
</div>

<% } %>
