<div>

    <div class="title">
        <h4>Welcome to centreon automation</h4>
    </div>
    <div class="content homepage-content">
        <p>
            This menu allows to quickly start configuration of the first elements
            in your monitoring platform through <b>Centreon Discovery</b> process.
        </p>
        <div class="bt-group">
            <button class="btc bt_success" id="DiscoveryAction">Start Discovery</button>
            <button class="btc bt_success" id="AddHostAction">Add new host</button>
        </div>
    </div>

</div>