<div>
    <div class="title">
        <p class="step step-default"><img src="./modules/centreon-automation/frontend/app/img/icons/logo.png" alt="logo" /></p>
    </div>

    <h4 class="intro-title">Centreon Automation</h4>
</div>