Source: centreon-collect
Section: net
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends:  debhelper-compat (=12),
                gcc,
                g++,
                cmake,
                pkg-config,
                libmariadb3,
                librrd-dev,
                libgnutls28-dev,
                ninja-build,
                liblua5.3-dev,
                python3,
                python3-pip,
                libperl-dev,
                libgcrypt20-dev
Standards-Version: 4.5.0
Homepage: https://wwww.centreon.com

Package: centreon-clib
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Centreon Clib is a common library for all Centreon products
 written in C/C++.

Package: centreon-clib-dev
Architecture: any
Depends:
    centreon-clib (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Clib is a common library for all Centreon products
 written in C/C++.

Package: centreon-engine
Architecture: any
Depends:
    centreon-clib (>= ${centreon:version}~),
    centreon-common (>= ${centreon:version}~),
    centreon-engine-extcommands (>= ${centreon:version}~),
    monitoring-plugins-basic,
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Engine is a monitoring engine, compatible with Nagios
 configuration, designed to monitor hosts and services on your network.

Package: centreon-engine-dev
Architecture: any
Depends:
    centreon-clib-dev (>= ${centreon:version}~),
    centreon-common (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Engine devel provide include files to develop Centreon Engine
 Modules or Centreon Engine Connector.

Package: centreon-engine-extcommands
Architecture: any
Depends:
    centreon-common (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Engine External Commands allow to other applications to send
 command into the daemon. External applications can submit commands by
 writing to the command file, which is periodically processed by the
 engine daemon.

Package: centreon-connector-perl
Architecture: any
Depends:
    centreon-engine (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Connector Perl provide embedded perl for Centreon Engine
 a monitoring engine.

Package: centreon-connector-ssh
Architecture: any
Depends:
    centreon-engine (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Connector SSH provide persistante connection between checks.

Package: centreon-connector
Architecture: any
Depends:
    centreon-connector-perl (>= ${centreon:version}~),
    centreon-connector-ssh (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Connector provide a monitoring tools, compatible with
 Centreon-Engine configuration, designed to monitor and manage system.

Package: centreon-broker
Architecture: any
Depends:
    centreon-clib (>= ${centreon:version}~),
    centreon-engine (>= ${centreon:version}~),
    centreon-broker-core (>= ${centreon:version}~),
    centreon-broker-cbmod (>= ${centreon:version}~),
    centreon-broker-storage (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Broker is a Centreon Engine/Nagios module that report events in
 one or multiple databases.

Package: centreon-broker-core
Architecture: any
Depends:
    centreon-broker (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: core holds Centreon Broker's default modules.

Package: centreon-broker-cbmod
Architecture: any
Depends:
    centreon-engine (>= ${centreon:version}~),
    centreon-broker-core (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: This module can be loaded by Centreon Engine.

Package: centreon-broker-dev
Architecture: any
Depends:
    centreon-broker-core (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Centreon Broker development files.
 Include files needed to develop a module for Centreon Broker.

Package: centreon-broker-storage
Architecture: any
Depends:
    centreon-broker-core (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: Storage holds Centreon Broker's prefdata storage.

Package: centreon-broker-influxdb
Architecture: any
Depends:
    centreon-broker-core (>= ${centreon:version}~),
    centreon-broker-storage (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: This module of Centreon Broker allows you to write performance data
 generated by plugins (run themselves by Centreon Engine) to an InfluxDB database.

Package: centreon-broker-graphite
Architecture: any
Depends:
    centreon-broker-core (>= ${centreon:version}~),
    centreon-broker-storage (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: This module of Centreon Broker allows you to write performance data
 generated by plugins (run themselves by Centreon Engine) to a Graphite database.

Package: centreon-collect-client
Architecture: any
Depends:
    centreon-broker (>= ${centreon:version}~),
    centreon-engine (>= ${centreon:version}~),
    ${misc:Depends},
    ${shlibs:Depends}
Description: gRPC client to connect to Centreon Broker or Centreon Engine.
