#!/usr/bin/make -f

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/substvars

override_dh_auto_configure:
	mkdir build
	cd build && \
	conan install .. -s compiler.cppstd=14 -s compiler.libcxx=libstdc++11 --build=missing && \
	CXXFLAGS="-Wall -Wextra" cmake \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=On \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DWITH_TESTING=0 \
		-DWITH_MODULE_SIMU=On \
		-DWITH_BENCH=On \
		-DWITH_CREATE_FILES=OFF \
		-DWITH_CONFIG_FILES=y \
		-DWITH_DAEMONS=y \
		..

override_dh_auto_build:
	cd build && \
	make -j9

override_dh_auto_install:
	cd build && \
	make -j9 install DESTDIR=../debian/tmp-centreon-collect

override_dh_dwz:
