firewall --disabled
selinux --disabled
network --onboot=yes

%packages
@core
ntp
krb5-libs
ces-release
rsyslog

%post
# Add service ntpd
/sbin/chkconfig --level 345 ntpd on

# Add service snmpd
/sbin/chkconfig --level 345 snmpd on

# Add service snmptrapd
/sbin/chkconfig --level 345 snmptrapd on

# Add service rsyslog
/sbin/chkconfig rsyslog on

sed -i "s/title CentOS/title Centreon Enterprise Server/" /boot/grub/grub.conf
sed -i 's/^CentOS.*$/Centreon Enterprise Server/' /etc/issue /etc/issue.net

# Disable SELINUX
sed -i 's/^SELINUX=enforcing/SELINUX=disabled/' /etc/sysconfig/selinux
sed -i 's/^SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config

%end
