
.ppe_tpl {
    padding: 6px;
}

.ppm_filter {
    overflow: hidden;
    padding: 6px;
    background-color: #f4f4f4;
    border-left: 1px solid #d1d2d4;
    border-top: 1px solid #d1d2d4;
    border-right: 1px solid #d1d2d4;
}

.ppm_filter input{
    float: right;
    height: 14px;
}
