<div class="welcome-msg">
    <p><%= welcome %> <b><%= customer.attributes.firstname %> <%= customer.attributes.lastname %></b></p>
</div>
<div class="centreon-message middle-bloc">
    <p class="steps">2</p>
    <p class="info-title">
        <%= introMessage %>
    </p>
    <p>
        <span class="info-circle green-circle">+150</span>
        <%= CentreonPP %>
            <span class="note-wrapper">
                <a href="./main.php?p=50704" class="btc bt_success"><span><%= ppInstall %></span></a>
            </span>
    </p>
</div>
