<link href="./include/common/javascript/charts/c3.min.css" type="text/css" rel="stylesheet">
<link href="./include/views/graphs/javascript/centreon-status-chart.css" type="text/css" rel="stylesheet">
<table class="ListTable">
    <tr class="ListHeader">
        <td>
            &nbsp;{t}Business Activity Monitoring{/t}&nbsp;&nbsp;
            <select id="ba_select" onChange='loadPage(this.value);' style="border:1px solid #BBBBBB;">
                {foreach key=key item=elem from=$ba_list}
                <option value='{$key}'{if $key == $ba_id} selected{/if}>{$elem}</option>
                {/foreach}
            </select>
        </td>
        <td style="text-align:right;">
            <a href="main.php?p=20701" title="{$go_back}" class="btc bt_default" style="vertical-align: middle;">{$go_back}</a>       
            {if $reporting_link_allowed == 1}
            <a href="{$reporting_link}" title="{$go_reporting}" class="btc bt_info" style="vertical-align: middle;">{$go_reporting}</a>
            {/if}
        </td>
    </tr>
</table>
        
<br/>
<div id="centreon_bam_table"></div>
<br/>

<!-- Impacts Tree -->
<ul id="mainnav">
  <li class="a" id='c1'><a href="#" onclick="javascript:montre('1');">{t}Tree Impact{/t}</a></li>
  <li class="b" id='c2'><a href="#" onclick="javascript:montre('2');">{t}Trends{/t}</a></li>
  <li class="b" id='c3'><a href="#" onclick="javascript:montre('3');">{t}KPIs{/t}</a></li>
</ul>
<div id='tab1' class='tab'>
  <table class="ListTable">
    <tr class="ListHeader">
      <td><span style="margin-left:4px">{t}Impacts Tree{/t}</span></td>
    </tr>
    <tr>
      <td align="center"><div id='treeMain'></div></td>
    </tr>
  </table>
</div>

<div id='tab2' class='tab'>
  <table class="ListTable">
    <tr class="ListHeader">
      <td><span style="margin-left:4px">{t}Performances{/t}</span></td>
    </tr>
    {if $graph_link_allowed != 1}
    <tr class="list_one">      
      <td align="center">{t}No graph to display for this BA{/t}</td>
    </tr>
    {else}
    <tr class='list_lvl_1'><td align='left'>Daily</td></tr>
    <tr class="list_one">
      <td align="center" class="dailychart"></td>
    </tr>
    <tr class='list_lvl_1'><td align='left'>Weekly</td></tr>
    <tr class="list_two">
      <td align="center" class="weeklychart"></td>
    </tr>
    <tr class='list_lvl_1'><td align='left'>Monthly</td></tr>
    <tr class="list_one">
      <td align="center" class="monthlychart"></td>
    </tr>
    <tr class='list_lvl_1'><td align='left'>Yearly</td></tr>
    <tr class="list_two">
      <td align="center" class="yearlychart"></td>
    </tr>
    {/if}
  </table>
</div>
  
<div id='tab3' class='tab'>
    {t}No linked Kpi{/t}
</div>
{literal}
<script type="text/javascript" src="./modules/centreon-bam-server/core/dashboard/businessActivity/javascript/populateKpiList.js"></script>
<script type="text/javascript" src="./include/common/javascript/jquery/plugins/treeTable/jquery.treeTable.min.js"></script>
<script src="./include/common/javascript/moment-with-locales.js"></script>
<script src="./include/common/javascript/moment-timezone-with-data.min.js"></script>
<script src="./include/common/javascript/charts/d3.min.js"></script>
<script src="./include/common/javascript/charts/c3.min.js"></script>
<script src="./include/common/javascript/charts/d3-timeline.js"></script>
<script src="./include/views/graphs/javascript/centreon-graph.js"></script>
<script src="./include/views/graphs/javascript/centreon-c3.js"></script>
<script src="./include/views/graphs/javascript/centreon-status-chart.js"></script>
<script type="text/javascript">
    var host_id = {/literal}{$host_id}{literal};
    var service_id = {/literal}{$service_id}{literal};
    var s_id = '{/literal}{$sessionId}{literal}';
    var _sid = '{/literal}{$sessionId}{literal}';
    var ba_id = {/literal}{$ba_id}{literal};
    var _ba_id = {/literal}{$ba_id}{literal};
    var ba_name = '{/literal}{$ba_name}{literal}';
    var svc_index = {/literal}{$svcIndex}{literal};
    var autoRefresh = 2;
    jQuery(function() {
        loadPage(ba_id);
    });

    jQuery('body').on('changetab:centreon', function(event, tab) {
        if (tab == 'tab2') {
            loadChart();
        }
    });

    /**
     * Load page
     * @param {integer} id_ba
     * @returns {undefined}
     */
    function loadPage(id_ba)
    {
        ba_id = id_ba;

        {/literal}
        getBaInfos('{$kpiStatusListService}' + '&ba_id=' + id_ba, managePage);
        {literal}

        jQuery.ajax("./modules/centreon-bam-server/core/dashboard/treeview/ba_tree.php?ba_id="+id_ba, {
            success : function(htmlData) {
                jQuery("#treeMain").empty();
                jQuery("#treeMain").html(htmlData);
                var h = 400;
            }
        });
    }

    function managePage(baInfos) {
        host_id = baInfos['host_id'];
        service_id = baInfos['service_id'];

        populateKpiListContainer('tab3', baInfos);
        loadChart(baInfos);
    }

    function loadChart () {
        var graphId = host_id + '_' + service_id;

        var chartContainer = '<div class="chart" data-graph-id="' + graphId + '" data-graph-type="service"></div>';
        chartContainer += '<div class="chart chart-status" data-graph-id="' + graphId + '" data-graph-type="status"></div>';

        var times = {
            height: 240
        };
        times.interval = '1d';
        //times.timeFormat = '%H:%M';
        jQuery('.dailychart').html(chartContainer);
        jQuery('.dailychart > [data-graph-type="service"]').centreonGraph(times);
        jQuery('.dailychart > [data-graph-type="status"]').centreonGraph(times);
        times.interval = '7d';
        //times.timeFormat = '%H:%M';
        jQuery('.weeklychart').html(chartContainer);
        jQuery('.weeklychart > [data-graph-type="service"]').centreonGraph(times);
        jQuery('.weeklychart > [data-graph-type="status"]').centreonGraph(times);
        times.interval = '1M';
        //times.timeFormat = '%m-%d';
        jQuery('.monthlychart').html(chartContainer);
        jQuery('.monthlychart > [data-graph-type="service"]').centreonGraph(times);
        jQuery('.monthlychart > [data-graph-type="status"]').centreonGraph(times);
        times.interval = '1Y';
        //times.timeFormat = '%m-%d';
        jQuery('.yearlychart').html(chartContainer);
        jQuery('.yearlychart > [data-graph-type="service"]').centreonGraph(times);
        jQuery('.yearlychart > [data-graph-type="status"]').centreonGraph(times);
    }


    /**
     *
     * @param {string} datasourceUrl
     * @returns {undefined}
     */
    function getBaInfos(datasourceUrl, callback)
    {
        // Get KPI list by Ajax
        var request = jQuery.ajax({
            'url': datasourceUrl,
            'dataType': 'json',
        });

        //
        request.done(function(data) {
            // Render the Kpi list
            callback(data);
        });

        //
        request.fail(function() {
            console.log('failed request');
        });
    }

</script>
{/literal}
