#!/usr/bin/make -f
export DH_VERBOSE=1
export CPU_COUNT=$(nproc --all)

%:
	dh $@  

override_dh_auto_configure:
	mkdir build
	cd build && \
	conan install .. -s compiler.libcxx=libstdc++11 --build=missing && \
	CXXFLAGS="-Wall -Wextra" cmake \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=On \
		-DWITH_CENTREON_CLIB_INCLUDE_DIR=../centreon-clib/inc/ \
		-DWITH_CENTREON_CLIB_LIBRARIES=centreon-clib/libcentreon_clib.so \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DWITH_PREFIX=/usr \
		-DWITH_PREFIX_BIN=/usr/sbin \
		-DWITH_USER_BROKER=centreon-broker \
		-DWITH_USER_ENGINE=centreon-engine \
		-DWITH_GROUP_BROKER=centreon-broker \
		-DWITH_GROUP_ENGINE=centreon-engine \
		-DWITH_TESTING=0 \
		-DWITH_PREFIX_MODULES=/usr/share/centreon/lib/centreon-broker \
		-DWITH_PREFIX_CONF_BROKER=/etc/centreon-broker \
		-DWITH_PREFIX_LIB_BROKER=/usr/lib64/nagios \
		-DWITH_PREFIX_CONF_ENGINE=/etc/centreon-engine \
		-DWITH_PREFIX_LIB_ENGINE=/usr/lib64/centreon-engine \
		-DWITH_PREFIX_LIB_CLIB=/usr/lib64/ \
		-DWITH_RW_DIR=/var/lib/centreon-engine/rw \
		-DWITH_VAR_DIR=/var/log/centreon-engine \
		-DWITH_MODULE_SIMU=On \
		-DWITH_BENCH=On \
		-DWITH_CREATE_FILES=OFF \
		-DWITH_PREFIX_BINARY=/usr/lib64/centreon-connector/ \
		..

override_dh_auto_build:
	cd build && \
	make -j9

override_dh_auto_install:
	cd build && \
	make -j9 install DESTDIR=../debian/tmp-centreon-collect
