<div>

    <label for="ip">Enter your private IP Address</label>
    <input id="inputRange" type="text" name="ip" />
    <span class="check-icon">{{icon}}</span>

    <button id="sendRange" type="button" class="bt-circle">
        <span class="arrow"></span>
    </button>
    <p class="note note-warning">
        <img src="./modules/centreon-automation/frontend/app/img/icons/warning.svg" alt="warning" /> We advise you to avoid <strong>Public IP addresses</strong>
    </p>
    <span class="error-msg"></span>
</div>