<div>
    <div class="title">
        <h4>Centreon Automation</h4>
        <p class="step"><strong>{{step}}</strong></p>
    </div>

    <ul id="steps">
        <li id="step_1" class="current-step">
            <h5>Put your private adress IP</h5>
            <p class="stepHelp">Help text for Automation module sed do
                tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <div class="range-view"></div>
        </li>
        <li id="step_2" class="next-step">
            <h5>Select Discovered items for Qualification</h5>
            <p class="stepHelp">Help text for Automation module sed do
                tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
            </p>
        </li>
        <li id="step_3" class="next-step">
            <h5>Qualify Discovered items</h5>
            <p class="stepHelp">Help text for Automation module sed do
                tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
            </p>
        </li>
        <li id="step_4" class="next-step">
            <h5>Select equipements and Configurate</h5>
            <p class="stepHelp">Help text for Automation module sed do
                tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation
            </p>
        </li>
    </ul>
</div>