name: docker-builder

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - '.github/docker/**'
  pull_request:
    paths:
      - '.github/docker/**'

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml

  create-and-push-docker:
    needs: [get-version]

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: collect
            dockerfile: centreon-collect-alma8
            image: centreon-collect-alma8
            tag: ${{ needs.get-version.outputs.img_version }}
          - runner: collect
            dockerfile: centreon-collect-alma9
            image: centreon-collect-alma9
            tag: ${{ needs.get-version.outputs.img_version }}
          - runner: collect
            dockerfile: centreon-collect-alma9-test
            image: centreon-collect-alma9-test
            tag: ${{ needs.get-version.outputs.test_img_version }}
          - runner: collect
            dockerfile: centreon-collect-mysql-alma9
            image: centreon-collect-mysql-alma9
            tag: ${{ needs.get-version.outputs.img_version }}
          - runner: collect
            dockerfile: centreon-collect-mysql-alma9-test
            image: centreon-collect-mysql-alma9-test
            tag: ${{ needs.get-version.outputs.test_img_version }}
          - runner: collect
            dockerfile: centreon-collect-debian-bullseye
            image: centreon-collect-debian-bullseye
            tag: ${{ needs.get-version.outputs.img_version }}
          - runner: collect
            dockerfile: centreon-collect-debian-bullseye-test
            image: centreon-collect-debian-bullseye-test
            tag: ${{ needs.get-version.outputs.test_img_version }}
          - runner: collect-arm64
            dockerfile: centreon-collect-debian-bullseye
            image: centreon-collect-debian-bullseye-arm64
            tag: ${{ needs.get-version.outputs.img_version }}
          - runner: collect-arm64
            dockerfile: centreon-collect-debian-bullseye-test
            image: centreon-collect-debian-bullseye-arm64-test
            tag: ${{ needs.get-version.outputs.test_img_version }}

    runs-on: ${{ fromJson(format('["self-hosted", "{0}"]', matrix.runner)) }}

    name: build container ${{ matrix.image }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Login to Registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - name: Login to Proxy Registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ vars.DOCKER_PROXY_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0

      - name: Build image ${{ matrix.image }}:${{ matrix.tag }}
        uses: docker/build-push-action@1104d471370f9806843c095c1db02b5a90c5f8b6 # v3.3.1
        with:
          file: .github/docker/Dockerfile.${{ matrix.dockerfile }}
          context: .
          build-args: "REGISTRY_URL=${{ vars.DOCKER_PROXY_REGISTRY_URL }}"
          platforms: ${{ contains(matrix.runner, 'arm') && 'linux/arm64' || 'linux/amd64' }}
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/${{ matrix.image }}:${{ matrix.tag }}
